<ion-view view-title="Help">
    <ion-nav-title>
        <img src="img/icon.png" style="float:left; margin-top: 5px;"><span style="margin:0 auto;">Help</span>
    </ion-nav-title>
    <ion-content class="padding">
        <h2>Frequently Asked Questions</h2>
        <p><b>What does this app do?</b></p>
        <p>Crypto Portolio calculates the aggregate value and the structure of a portolio consisting a number of different cryptocurrency addresses, based on the blockchain data and latest exchange rates.</p>
        <p><b>What price data are used?</b></p>
        <p>Exchange rates in the current version are provided by coinmarketcap.com.</p>
        <p><b>Which cryptocurrencies are supported?</b></p>
        <p>Cryptocurrencies currently supported are: Bitcoin, Dogecoin, Ethereum, Litecoin, Ethereum, Ripple, Counterparty, Dash, Peercoin, Reddcoin.</p>
        <p>We are working to add all major cryptocurrencies to the portfolio. Check for app updates.</p>
        <p><b>How to add an address to my portfolio?</b></p>
        <p>Go to Addresses tab then click on the Add button at the top of the Address list. Complete the form with all the address informations and then click the Add button at the bottom.</p>
        <p>The easiest way to insert addresses is to copy them with a QR code scanner.</p>
        <p><b>How to delete an address from my portfolio?</b></p>
        <p>Go to Addresses tab then click on the Delete button at the top of the Address list. Delete buttons will appear on the left of every address entry in the list. Click the Delete button left to the address you want to delete.</p>
        <p><b>What are fixed items?</b></p>
        <p>Fixed items meaning fixed value assets that are part of a portfolio. You can add them with a unique label and the value in USD at the Addresses tab.</p>
        <p><b>Can I add exchange platform wallets to my portfolio?</b></p>
        <p>Right now online exchange wallets are not supported by this app. However, it is recommended not to use an online exchange wallet to keep significant parts of your portfolio because of security vulnerabilities. The best way to use online exchange platforms is to use them only at exchange operations and then transfer all the resulting cryptocurrencies into your self-managed wallet or a trusted online wallet platform.</p>
        <p><b>The app working very slow.</b></p>
        <p>Please note that it may take up to 10 seconds to get all the balances of your addresses, especially if you have more than 3-4 addresses in your portfolio.</p>
        <p>For more information visit: http://sigmagfx.com/crypto</p>
    </ion-content>
</ion-view>
