<ion-view view-title="">
    <ion-nav-title>
        <img src="img/icon.png" style="float:left; margin-top: 5px;"><span style="margin:0 auto;">Dashboard</span>
    </ion-nav-title>
    <ion-nav-buttons side="secondary">
      <button class="button ion-refresh" ng-click="refresh()"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="card">
            <div class="item item-divider text-center card-header">
              Your portfolio value
            </div>
            <div class="item">
                <ul>
                    <li class="text-center">
                        <div class="pf-value-item"><span class="highlight">{{portfolioValueUsd}}</span> USD</div>
                    </li>
                    <li class="text-center">
                        <div class="pf-value-item"><span class="highlight">{{portfolioValueBtc}}</span> BTC</div>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="card">
          <div class="item item-divider text-center card-header">
              Portfolio structure
          </div>
          <div class="item">
            <ul>
                        <li ng-repeat="element in portfolioStructure" class="text-center">
                            <div class="pf-structure-item">
                                <div class="currency-symbol-small"><i class="cc-{{element.type.toUpperCase()}}"></i></div>
                                {{element.type.toUpperCase()}}: {{element.percent.toFixed(2)}} %
                            </div>
                        </li>
                    </ul>
              <canvas id="pie" class="chart chart-pie" chart-data="data" chart-labels="labels" chart-colours="colours" chart-legend="true" chart-options="options"></canvas>

            <div class="row">
                <div class="col text-center">
                    
                </div>
            </div>
          </div>
        </div>
        
        
        
    </ion-content>
</ion-view>
