<ion-tabs class="tabs-top tabs-stable tabs-icon-top">

    <ion-tab title="Dashboard" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper" ui-sref="tab.dash">
        <ion-nav-view name="pageContent"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Addresses" icon-off="ion-ios-photos-outline" icon-on="ion-ios-photos" ui-sref="tab.wallets">
        <ion-nav-view name="tab-wallets"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Currencies" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" ui-sref="tab.currencies">
        <ion-nav-view name="tab-currencies"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Help" icon-off="ion-ios-help-outline" icon-on="ion-ios-help" ui-sref="tab.help">
        <ion-nav-view name="tab-help"></ion-nav-view>
    </ion-tab>

</ion-tabs>
