/* crypto-fonts extension*/
.cc-RDD:before {
    content: "R";
}
.cc-RDD-alt:before {
    content: "R";
}

.cc-RDD, .cc-RDD-alt { color: #E95359; }


.cc-FIX:before {
    content: "F";
}
.cc-FIX-alt:before {
    content: "F";
}

.cc-FIX, .cc-FIX-alt { margin-right:10px; color: #009900; }